.App {
  text-align: left;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #f5f5f5;
  padding: 10px;
}

nav.menu {
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.menu-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5px;
}

.menu-button {
  background-color: transparent;
  border: none;
  font-size: 20px;
  padding: 5px 10px;
  cursor: pointer;
  position: relative;
  color: #000000;
  font-weight: bold;
}

.menu-button.active {
  color: #3d66ab;
}

.line {
  position: absolute;
  bottom: -2px;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: #3d66ab;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s;
}

.menu-button.active .line {
  transform: scaleX(1);
}

main {
  margin-top: 90px;
}

h2 {
  margin-bottom: 1px;
  text-align: center;
}
.subtitulo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: #ffffff;
  text-align: left;
  align-items: center;
}

.circulo {
	width: 20rem;
	height: 20rem;
	border-radius: 50%;
	background-color: rgba(61, 102, 171, 0.7);
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
  margin:0px auto;
  padding:3%;
  box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.5);
}

.rectangle {
  width: 300px;
  height: 200px;
  background-color: rgba(61, 102, 171, 0.7);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  margin-left: 60px;
  border-radius: 15px;
  text-align: center;

}

.row-container {
  display: flex;
  flex-direction: row;
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px;
}


.title {
  font-size: 3em;
  font-weight: 700;
}

.blue{
  color: #3d66ab;
}

#nosotros {
  background-color: #3d66ab;
  color: white;
  padding: 20px;
  height: 300px;
}

#info {
  background-image: url("./assets/Info.jpeg");
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
}

#cobertura {
  background-image: url("./assets/Cober.jpg");
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
  height: 350px;
  color: white;
}

#servicio {
  background-color: #3d66ab;
  color: white;
  padding: 20px;
  height: 300px;
}

#personal {
  height: 300px;
  padding: 20px;
}

#ventajas {
  background-color: #3d66ab;
  color: white;
  padding: 20px;
  height: 350px;
}

/* Estilos para pantallas más grandes */
@media (min-width: 768px) {
  .menu-buttons {
    flex-direction: row;
    justify-content: center;
    margin-top: 0;
  }

  .menu-button {
    margin: 0 10px;
  }
}
